/*### Primary*/
:root{
--dark-blue-intro-email-sign-background: hsl(217, 28%, 15%);
--dark-blue-main-background: hsl(218, 28%, 13%);
--dark-blue-footer-background: hsl(216, 53%, 9%);
--dark-blue-testimonials-background: hsl(219, 30%, 18%);

/*### Accent*/

--cyan: hsl(176, 68%, 64%); /*(inside call-to-action gradient)*/
--blue: hsl(198, 60%, 50%); /*(inside call-to-action gradient):*/ 

/*### Neutral*/

--white: hsl(0, 0%, 100%);
}
/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
} 
.container{
    width: 1200px; /*ширина блока*/
    max-width: 100%; /*максимальный размер 1440пх*/
    margin: 0 auto; /*выровниваем по центру*/
    padding: 30px;
}
body{
    /*background-color: var(--dark-blue-testimonials-background);*/
    font-size: 14px;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;

    /*font-family: 'Raleway', sans-serif;*/
}
.section_1{
  
        background: var(--dark-blue-testimonials-background) url(../img/bg-curvy-desktop.svg) center bottom no-repeat;
        background-size: 100%;
}
.section_2{
    background-color: var(--dark-blue-main-background);

}
.section_3{
    background-color: var(--dark-blue-main-background);
}
.section_4{
    background-color: var(--dark-blue-main-background);
    position: relative;
    
    
}
.section_5{
    background-color: var(--dark-blue-main-background);
}
.section_6{
    background-color: var(--dark-blue-footer-background);
    padding-top: 200px;
}
.main {
    display: flex;
    flex-wrap: wrap; /*flex-wrap задает правила вывода flex-элементов —  в одну строку или в несколько, с переносом блоков. Если перенос разрешен, то возможно задать направление, в котором выводятся блоки.*/
    /*разрешаем переносить блоки на новую строку если они не помещаются в наш контейнер*/
    margin: 95px 0;
}
.items{
    width: 50%; /*ширина блока 1/2*/
    padding: 0 80px;
    margin: 50px 0; /*отступы сверху и снизу*/
    text-align: center; /*делаем все по центру*/
    
}
.items__text h3{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}
.items__text p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;
    
}


.items__img {
    margin-bottom: 25px; /*делаем внешний отступ от картинки вниз*/
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between; /*justify-content определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера.*/
    margin: 50px 0;
}
nav ul{
    display: flex;
    padding: 0;
    list-style-type: none;
}
nav ul li{
    margin-left: 50px;
}
nav ul a{
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    opacity: 0.7;
}
nav ul a:hover{
    color: var(--white);
    text-decoration: underline;
    opacity: 1;
}

.header__img, .header__info{
    margin: 20px auto;
    text-align: center;
}

h1{
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}
.header__info > p{
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

}

.flex__info{
    margin: 0 50px;
}

.flex__info h2{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.flex__info p{
    font-size: 16px;
    
    font-weight: 400;
    padding: 15px 0;
}
.btn_3{
    color: #62E0D9;
}


.align-start {
	align-items: flex-start;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    
}
.card{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px 300px;
    padding: 20px;
    align-items: center; /*выравнивание по центру*/
    background-color: var(--dark-blue-testimonials-background);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.card div > img{
    border-radius: 50%;
    height: 25px;
    margin: 0 15px 0 15px;
    width: 25px;
    
}
.card >p{
    padding: 30px 0;
}
.card div > h3{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    
}
.card div > h4 {
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    opacity: 0.7;
}

.btn_0{
    background-color: var(--blue);
    border-radius: 40px;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}
.btn_0:hover{
    background-color: var(--cyan);
    
}
.registration{
    position: absolute;  
    left:50%;
    transform:translate(-50%, -50%);
    display: flex;
    border-radius: 5px;
	flex-wrap: wrap; /*flex-wrap задает правила вывода flex-элементов —  в одну строку или в несколько, с переносом блоков. Если перенос разрешен, то возможно задать направление, в котором выводятся блоки.*/

    width: 100%;
    max-width: 800px;
    background-color: var(--dark-blue-intro-email-sign-background);
    text-align: center;
    padding: 50px 75px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);  
  
    

}
form {
	display: flex;
}

.registration input{
    flex: 0.7;
    border: 1px solid hsl(243, 87%, 12%);
	border-radius: 30px;
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 15px;
    font-weight: 700;
 }

 input::placeholder{
    color:  hsl(0, 0%, 75%);

}

.btn_1{
    flex: 0.3;
    background-color: var(--blue);
    border-radius: 30px; 
    padding: 15px 0;
    border: none;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.registration h2{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 40px;
}


.registration p{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;
    padding-bottom: 35px;
    
}
/* Footer styling */
footer {
	folor: #fff;
	padding: 50px 0;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	margin-bottom: 20px;
}

footer .social-media {
	display: flex;
	align-items: center;
    justify-content: center;
}
.circle a{
    font-size: 4rem;
    color: #ffffff;
}